@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/images/bg.svg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #2B3440;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}


/* @layer base {
  html,body, #root {
   @apply min-h-screen bg-black text-white antialiased;
  }

 } */
 /* :root {
   font-size: var(--font-size);
}

body {
  @apply  bg-[color:var(--background-primary)] text-[color:var(--color-base)] text-[0.938rem];
}

.shadow-box {
  box-shadow: var(--box-shadow);
} */
@layer base {
  html,body, #root {
   @apply min-h-screen bg-bg bg-cover bg-center bg-no-repeat text-white antialiased;
  }
 }
 @layer components {
  .input {
    @apply h-10 rounded px-4 outline-none border w-full border-zinc-400 text-sm focus:border-black;
  }
  .button {
    @apply bg-black w-1/2 h-10 p-2 mt-4 rounded text-white text-sm disabled:bg-zinc-600;
  }
  .textarea {
    @apply  rounded p-4 outline-none border w-full border-zinc-400 text-sm focus:border-black;
  }
 }